langchain 
langchain-community 
langchain-groq
langchain-core
sentence-transformers 
langchain-experimental 
neo4j 
pypdf 
PyPDF2
python-dotenv
langchain_openai 
streamlit
json-repair
neo4j-driver
json
ollama
requests